.hero {
  height: 810px;
}

.container {
  display: grid;
  grid-template-rows:  484px 389px 385px 536px 322px 322px 475px 509px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "l1 l2 l2 l3" 
    "l4 l4 l5 l5"
    "l6 l6 l7 l7"
    "l8 l8 l8 l8"
    "l9 l10 l13 l13"
    "l11 l12 l13 l13"
    "l14 l15 l15 l15"
    "l16 l16 l17 l17";

  &__layout-1 {
    grid-area: l1;
    background: #001730;
  }

  &__layout-2 {
    grid-area: l2;
    background: #4ad7d1;
  }

  &__layout-3 {
    grid-area: l3;
    background: url(../../dist/images/pexelsphoto1438275.jpeg) 50% 50% no-repeat;
    background-size: cover;
  }

  &__layout-4 {
    grid-area: l4;
    background: #fe4a49;
  }

  &__layout-5 {
    grid-area: l5;
    background: palegoldenrod;
  }

  &__layout-6 {
    grid-area: l6;
    background: magenta;
  }

  &__layout-7 {
    grid-area: l7;
    background: #4ad7d1;
  }

  &__layout-8 {
    grid-area: l8;
    background: gold;
  }

  &__layout-9 {
    grid-area: l9;
    background: url(../../dist/images/pexelsphoto827062.jpeg) 50% 50% no-repeat;
    background-size: cover;
  }

  &__layout-10 {
    grid-area: l10;
    background: #4ad7d1;
  }

  &__layout-11 {
    grid-area: l11;
    background: url(../../dist/images/pexelsphoto1456452.jpeg) 50% 5% no-repeat;
    background-size: cover;
  }

  &__layout-12 {
    grid-area: l12;
    background: url(../../dist/images/pexelsphoto1738986.jpeg) 50% 50% no-repeat;
    background-size: cover;
  }

  &__layout-13 {
    grid-area: l13;
    background: url(../../dist/images/pexelsphoto1601729.jpeg) 50% 90% no-repeat;
    background-size: cover;
  }

  &__layout-14 {
    grid-area: l14;
    background: #001730;
  }

  &__layout-15 {
    grid-area: l15;
    background: black;
  }

  &__layout-16 {
    grid-area: l16;
    background: hotpink;
  }

  &__layout-17 {
    grid-area: l17;
    background: url(../../dist/images/pexelsphoto1089027.jpeg) 50% 78% no-repeat;
    background-size: cover;
  }
}