footer {
  height: 97px;
  background: $footer-color;
  display: flex;
  align-items: center;
  justify-content: center;
  
  span {
    color: $second-color;
  }
  
  p {
    font-family: $number-font;
    color: #fff
  }
}