.container {
  &__layout-1 {
    @include flex;
    align-items: center;
    
    h1 {
      @include h1
    }
  }

  &__layout-2 {
    @include flex;
    
    &-text {
      color: #fff;
      padding: 0 1.2rem;
      
      h3 {
        font-family: $second-font;
        font-weight: lighter;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 1.25rem;
        margin-top: 33px;
      }

      h2 {
        font-size: 3rem;
        margin-top: 20px;
        @include h2;
      }

      p {
        margin-top: 20px;
        @include p;
      }

      a {
        @include button($bg-color)
      }
    }
  }

  &__layout-4, 
  &__layout-5, 
  &__layout-6, 
  &__layout-7, 
  &__layout-14, 
  &__layout-16 {
    @include flex;

    &-text {
      color: #fff;
      padding: 0 60px 0 101px;

      h3 {
        font-family: $second-font;
        font-weight: lighter;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 1.25rem;
        margin-top: 33px;
      }

      h2 {
        margin-left: -101px;
        padding: 15px 20px 15px 101px;
        background: $second-color;
        font-size: 3rem;
        margin-top: 10px;
        @include h2;
      }

      p {
        margin-top: 10px;
        @include p;
      }

      i {
        font-size: 2rem;
        padding-top: 30px;
      }
    }

  }

  .container__layout-5,
  .container__layout-6 {
    &-text {
      h2 {
        background-color: #fff;
        color: #000;
      }

      i {
        color: $bg-color
      }
    }
  }

  .container__layout-7 {
    &-text {
      color: #000;

      h2 {
        background-color: $bg-color;
      }

      i {
        color: $bg-color
      }
    }
  }

  &__layout-8 {
    padding: 0 10vw;
    padding-top: 24vh;
    
    .box-text {
      display: flex;
      align-items: center;
      justify-content: center;
      
      h1 {
        padding: 62px;
        @include h1;
      }
      
      a {
        @include button($button-color)
      }
    }
  }

  &__layout-10 {
    @include flex;
    align-items: center;
    
    h2 {
      text-align: center;
      @include h2;
      font-size: 3rem;
      color: #fff;
      padding-bottom: 1.5rem;
    }

    a {
      @include button($bg-color);
      margin: 0;
    }
  }

  &__layout-14 {
    @include flex;

    &-text {
      padding: 0 50px 0 60px;

      h2 {
        background: none;
        padding: 0 0 0 101px;
        margin-top: 20px;
        @include h2;
      }

      p {
        margin-top: 20px;
        @include p;
      }

      i {
        font-size: 2rem;
        padding-top: 30px;
      }
    }

  }

  &__layout-15 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 15vw 7vh 0;
    

    h2 {
      @include h1;
      font-family: $second-font;
    }
  }

  &__layout-16 {
    &-text {

      h2 {
        background: none;
        padding: 20px 0 20px 101px;
        margin-top: 0;
      }

      ul {
        list-style: none;
        @include p;
      }

      .social-icons {
        i {
          font-size: 1.5rem;
          color: $button-color;
          padding-right: 14px;
          padding-top: 16px;
        }
      }
    }
  }

}