* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin animation-hover {
  transition: all .5s ease-in-out
}

@function text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff
  }
};

@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin h2 {
  font-family: $second-font;
  letter-spacing: 2px;
  line-height: 1.1;
  font-weight: 400;
}

@mixin p {
  line-height: 1.6;
  font-family: $par-font;
}

@mixin hover-text {
  color: $second-color;
  text-shadow: 0 0 10px $second-color, 
};

@mixin titles {
  font-family: $font-letters;
  font-size: 30px;
  color: #fff;
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}