* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin animation-hover {
  transition: all .5s ease-in-out
}

@function text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff
  }
};

@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin button($color) {
  display: table;
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: $par-font;
  background-color: $color;
  padding: 10px 30px;
  margin: 20px auto 45px 0;

  &:hover {
    background: darken($color, $amount: 7);
    cursor: pointer
  }
}

@mixin h1 {
  font-size: 10.5rem;
  color: #fff;
  font-family: $number-font;
  font-weight: 700;
}

@mixin h2 {
  font-family: $second-font;
  letter-spacing: 2px;
  line-height: 1.1;
  font-weight: 400;
}

@mixin p {
  line-height: 1.6;
  font-family: $par-font;
}

@mixin hover-text {
  color: $second-color;
  text-shadow: 0 0 10px $second-color, 
};

@mixin titles {
  font-family: $font-letters;
  font-size: 30px;
  color: #fff;
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}